<div class="d-flex text-center">
  <% if @draws.empty? %>
    <!-- Message si le tirage n'a pas encore eu lieu -->
    <div class="empty-draw">
      <i class="bi bi-question-circle"></i>
      <h2>Le tirage n'a pas encore eu lieu</h2>
      <p>Revenez plus tard pour voir votre receveur !</p>  
      <p>Profites-en pour faire tes réglages : </p><br>
      <%= link_to "Ne pas choisir certaines personnes", edit_exclusions_path, class: "btn btn-secondary" %>
    </div>
  <% else %>
    <div class="container mt-3">
      <div class="row">
        <% @draws.each do |draw| %>
          <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card shadow-sm p-3 text-center" style="background: rgba(193, 188, 172);">
              <!-- Image du destinataire -->
              <% if draw.recipient.avatar.attached? %>
                <%= cl_image_tag(draw.recipient.avatar.key, transformation: [
                    {gravity: "face", height: 200, width: 200, crop: "thumb"},
                    {radius: "max"},
                    {fetch_format: "auto"}
                  ], class: "img-fluid rounded-circle mx-auto d-block") %>
              <% else %>
                <%= image_tag "https://images.unsplash.com/photo-1518020382113-a7e8fc38eac9?q=80&w=2034&auto=format&fit=crop", 
                  class: "img-fluid rounded-circle mx-auto d-block", width: 150, height: 150 %>
              <% end %>

              <!-- Informations du tirage -->
              <div class="mt-3">
                <h6 class="text-success"><strong>Tirage :</strong> <%= draw.group.name %></h6>
                <p class="fw-bold">Tu offres un cadeau à :</p>
                <h4 class="text-success"><%= draw.recipient.name %></h4>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    <% if @draw.present? %>
      function launchConfetti() {
        var duration = 3 * 5000;
        var animationEnd = Date.now() + duration;
        var defaults = { startVelocity: 30, spread: 360, ticks: 90, zIndex: 1000 };

        function randomInRange(min, max) {
          return Math.random() * (max - min) + min;
        }

        var interval = setInterval(function() {
          var timeLeft = animationEnd - Date.now();
          if (timeLeft <= 0) {
            return clearInterval(interval);
          }
          var particleCount = 50 * (timeLeft / duration);
          confetti({
            particleCount,
            origin: { x: randomInRange(0.1, 0.9), y: randomInRange(0.1, 0.5) },
            ...defaults
          });
        }, 250);
      }

      launchConfetti();
    <% end %>
  });
</script>
