<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Aid Sort" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css", media: "all" %>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  </head>
  <body class="content d-flex flex-column min-vh-100">
    <div id="particles-js"></div>
    <%= render "shared/navbar" %>
    <main class="flex-grow-1 d-flex">
      <div class="w-100 align-content-center">
        <%= yield %>
      </div>
    </main>
    <%= render "shared/footer" %>
    <%= render "shared/flashes" %>
  </body>
</html>
